
* { margin:0; padding: 0; font-family: 'Press Start 2P', cursive;}
p {font-family: verdana; margin-top: 0.5em;}
b {font-size:0.75em;}
a {font-size:0.7em; margin:0.2em; margin-left:1em;}
nav{display:flex;}

#container{margin: 0 20%;display: flex;flex-flow: column nowrap;justify-content: center;}
    #header{background: rgba(0,0,0,.25);display: flex;flex-flow: row nowrap; border-bottom-style: solid;border-color:rgba(0,0,0, 0.25);}
        #logo{padding:1em;}
            #logo img {width:100%;}
        #summary{margin: 1.5em 0 0 1em}
    #article{padding: 2em 2em;flex-basis: 500px;flex-grow:2;flex-shrink: 1; border-left-style: dotted; border-right-style: dotted; border-color:rgba(0,0,0,.25);}
    #footer{background: rgba(0,0,0,.25);text-align: right; padding: 2em 2em; border-top-style: solid; border-color:rgba(0,0,0, 0.25); border-bottom-right-radius: 40px;}