body{
    display:flex; flex-flow:column nowrap;
}
p{text-size-adjust: auto ;}
h1{text-size-adjust: auto ;}
.container-row{
    display:flex; flex-flow:row nowrap;
}
#container-column{
    display:flex; flex-flow:column nowrap;
}
#jamfluidflow{display:none;}
#lever{
    background-image:url("../../art_assets/jamfactory_mockup/jamfactory_assets_mockup/jamfactory_assets_mockup_lever_1-export1.png");
    background-repeat:no-repeat;
    background-size:contain;
    width:64px;
    height:64px;
}