
#crank{
    background-image:url("../../art_assets/jamfactory_mockup/jamfactory_assets_mockup/jamfactory_assets_mockup_crank_1-export.png");
    background-repeat:no-repeat;
    background-size:contain;
    width:8vw;
    height:8vw;
}