body{
    background-color:#e3e7ed;
    color:#4c5051;
    font-family:verdana;
    display:flex; flex-flow:column nowrap;
}
a, a:hover, a:visited, a:active{color:inherit;}
h1{margin-left:8em;}
.containerrow{display:flex; flex-flow:row nowrap}
.slider{
    width:30em;
    margin:1em 2em;
    appearance:none;
    background: #a1a9b4  ;
    height: 20px;
    opacity: 2;
    border-radius: 4px;
   }
  
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    background: #364152  ;
    background-image:url(thumb.png);
    width: 10%;
    height: 22px;
}
.amount{
    background-color: #879f42;
    border-radius:2em;
    height:2em;
    width:9em;
    text-align:center;
    color:white;
    font-weight:bold;
}
#center{margin: 0 20em}
#right{text-align:right;}
#redtext{
    color:#c22e3a;
}
#charitychoicechosen{
    display:none;
}